#footer {
    .footerbackground {
        background: $blackGray;
    }

    a:hover {
        transition: .3s;
        color: $brightGray;
    }

    .navstyle {
        color: $midGray;
        font-size: 1.15rem;  
    }

    .sociallink {
        background-color: $grayRed;

    }

   
}