// Colors 
    // Solid Grays 
            $white: #ffffff;
            $whiteGray: hsl(0, 0%, 89%);
            $brightGray: hsl(0, 0%, 83%);
            $lightGray: hsl(0, 0%, 73%);
            $midGray: hsl(0, 0%, 50%);
            $gray: hsl(0, 0%, 37%);
            $darkGray: hsl(0, 0%, 27%);
            $blackGray: hsl(0, 0%, 18%);
            $black: hsl(0, 0%, 0%);
    // Trans Grays 
            $lightGrayTrans: hsl(0, 0%, 73%);
            $grayTrans: hsl(0, 0%, 37%);
            $blackGrayTrans: hsl(0, 0%, 18%);
            $blackTrans: hsl(0, 0%, 0%);
    // Solid Reds 
            $red: hsl(0, 100%, 50%);
            $redGray: hsl(0, 70%, 50%);
            $grayRed: hsl(0, 50%, 50%);
            $darkRed: hsl(0, 70%, 28%);
    // Trans Reds 
            $redTrans: hsl(0, 100%, 50%);
            $redGrayTrans: hsl(0, 70%, 50%);
            $grayRedTrans: hsl(0, 50%, 50%);

// Fonts
        $font-main: fantasy, sans-serif;
